<div ng-controller="adminTicketCtrl">

<header id="header" data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/sidebar-right.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">

		<div class="container">
			<div class="block-header">
				<h2>My Tickets</h2>
			</div>
            
            
            <div class="mini-charts">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-cyan" ng-click="filterTicketOnStatus('')" style="cursor: pointer;">
                            <div class="clearfix">
                                <div class="chart">
                                    <i class="fa fa-users font-icon"></i>
                                </div>
                                <div class="count">
                                    <small>Total Tickets</small>
                                    <h2>{{totalTickets}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-lightgreen" ng-click="filterTicketOnStatus('open')" style="cursor: pointer;">
                            <div class="clearfix">
                                <div class="chart">
                                    <i class="fa fa-user font-icon"></i>
                                </div>
                                <div class="count">
                                    <small>Open</small>
                                    <h2>{{openTicketCount}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-orange" ng-click="filterTicketOnStatus('close')" style="cursor: pointer;">
                            <div class="clearfix">
                                <div class="chart">
                                    <i class="fa fa-user font-icon"></i>
                                </div>
                                <div class="count">
                                    <small>Closed</small>
                                    <h2>{{closeTicketCount}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-bluegray" ng-click="filterTicketOnStatus('rejected')" style="cursor: pointer;">
                            <div class="clearfix">
                                <div class="chart">
                                    <i class="fa fa-user font-icon"></i>
                                </div>
                                <div class="count">
                                    <small>Rejected</small>
                                    <h2>{{rejectedTicketCount}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        
            

		</div>
        
        <div class="container">
        	<div class="col-md-4" style="padding: 0;float: right;padding-bottom: 5px;">
        		<input type="text" class="form-control" ng-model="searchTicket" placeholder="Search.." style="padding-left: 15px;">
        	</div>
        	
            <div class="">
                    <table class="table table-responsive table-stripped">
                        <tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Assignee</th>
                            <th>Status</th>
                        </tr>

                        <tr ng-repeat="ticket in ticketList | filter: searchTicket">
                            <td>{{ticket.requestType}}</td>
                            <td>{{ticket.description}}</td>
                            <td>{{ticket.address}}</td>
                            <td>-</td>
                            <td>{{ticket.status}}</td>
                            
                        </tr>
                        <tr ng-show="ticketList.length==0"style="text-align: center;">
                        	<td colspan="5">No Record Found</td>
                        </tr>
                    </table>

            </div>
        </div>
        
        
        <!-- Modal -->
        <div id="createTicket" class="modal fade" role="dialog" ng-controller="ticketCtrl">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Ticket</h4>
              </div>
              <div class="modal-body">

                  <div class="container-fluid">

                        <div class="col-md-12" style="padding-bottom: 10px;">
                            <select class="form-control" ng-model="ticket.requestType">
                                <option value="select">Select Request Type</option>
                                <option value="roads">Roads</option>
                                <option value="streetLight">Street Lights</option>
                                <option value="dustbin">Dustbins</option>
                                <option value="garden">Gardens/Parks</option>
                                <option value="others">Others</option>
                            </select>
                        </div>
                        <div class="col-md-12" style="padding-bottom: 10px;">
                            <input type="text" class="form-control" placeholder="Description" ng-model="ticket.description">  
                        </div>

                        <div class="col-md-12" style="padding-bottom: 10px;">
                        	<i class="fa fa-search" style="right: 25px;top: 8px;position: absolute;cursor: pointer;font-size: 20px;" ng-click="getMaps()"></i>
                            <input type="text" class="form-control" placeholder="Address" ng-model="ticket.address">
                            
                        </div>
                        
                        <div class="col-md-12">
                            <div id="map" style="height: 300px"></div>
                        </div>
                        
                        <div class="col-md-12" style="text-align: center;padding-top: 10px;">
                            <button class="btn btn-default" ng-click="clearTicket()">Clear</button>&nbsp;
                            <button class="btn btn-primary" ng-click="addTicket()">Submit</button>
                        </div>
                  </div>  

              </div>
              <div class="modal-footer" style="padding-top: 10px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        
        
        
	</section>
</section>

</div>


<footer id="footer" data-ng-include="'template/footer.html'"></footer>
