<header id="header" data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/sidebar-right.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">

		<div class="container">
			<div class="block-header">
				


			</div>
			
			<div ng-controller="ticketMapCtrl">
		
				<div class="col-md-12">
					<div id="ticketMap" style="height: 300px"></div>
				</div>
			</div>
			

		</div>
	</section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
